In [1]:
import pandas as pd

from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules
from pyECLAT import ECLAT

<p style="background-image: linear-gradient(to right, #0D9276, #41b675)"> &nbsp;</p>

In [2]:
data = pd.read_csv('data/02_GroceryStoreDataSet.csv', header=None)
data.columns = ['Products']
data.head(3)

                        Products
0             MILK,BREAD,BISCUIT
1  BREAD,MILK,BISCUIT,CORNFLAKES
2            BREAD,TEA,BOURNVITA

<p style="background-image: linear-gradient(#0D9276, #FFFFFF 10%)"> &nbsp; </p>

In [3]:
data = data['Products'].str.split(',')
data.head(3)

0                [MILK, BREAD, BISCUIT]
1    [BREAD, MILK, BISCUIT, CORNFLAKES]
2               [BREAD, TEA, BOURNVITA]
Name: Products, dtype: object

In [4]:
encoder = TransactionEncoder()
data_en = encoder.fit_transform(data)

data = pd.DataFrame(data_en, columns=encoder.columns_)
data.head()

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,True,False,True,False,False,False,False,False,True,False,False
1,True,False,True,False,False,True,False,False,True,False,False
2,False,True,True,False,False,False,False,False,False,False,True
3,False,False,True,False,False,False,True,True,True,False,False
4,True,False,False,False,False,False,False,True,False,False,True

<p style="background-image: linear-gradient(#0D9276, #FFFFFF 10%)"> &nbsp; </p>

In [5]:
df_1 = apriori(data, min_support=0.05, use_colnames=True)
df_2 = association_rules(df_1, metric='confidence', min_threshold=0.5)
df_2

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(BISCUIT),(BREAD),0.35,0.65,0.20,0.571429,0.879121,-0.0275,0.816667,-0.174603
1,(COCK),(BISCUIT),0.15,0.35,0.10,0.666667,1.904762,0.0475,1.950000,0.558824
2,(CORNFLAKES),(BISCUIT),0.30,0.35,0.15,0.500000,1.428571,0.0450,1.300000,0.428571
3,(BOURNVITA),(BREAD),0.20,0.65,0.15,0.750000,1.153846,0.0200,1.400000,0.166667
4,(BOURNVITA),(SUGER),0.20,0.30,0.10,0.500000,1.666667,0.0400,1.400000,0.500000
...,...,...,...,...,...,...,...,...,...,...
141,"(CORNFLAKES, TEA)","(COFFEE, MILK)",0.10,0.05,0.05,0.500000,10.000000,0.0450,1.900000,1.000000
142,"(CORNFLAKES, MILK)","(COFFEE, TEA)",0.10,0.05,0.05,0.500000,10.000000,0.0450,1.900000,1.000000
143,"(COFFEE, TEA)","(CORNFLAKES, MILK)",0.05,0.10,0.05,1.000000,10.000000,0.0450,inf,0.947368
144,"(COFFEE, MILK)","(CORNFLAKES, TEA)",0.05,0.10,0.05,1.000000,10.000000,0.0450,inf,0.947368
145,"(TEA, MILK)","(CORNFLAKES, COFFEE)",0.05,0.20,0.05,1.000000,5.000000,0.0400,inf,0.842105

<p style="background-image: linear-gradient(to right, #0D9276, #41b675)"> &nbsp;</p>

In [6]:
data = pd.read_csv('data/02_GroceryStoreDataSet.csv', header=None)
data.columns = ['Products']
data.head(3)

                        Products
0             MILK,BREAD,BISCUIT
1  BREAD,MILK,BISCUIT,CORNFLAKES
2            BREAD,TEA,BOURNVITA

In [7]:
temp = data['Products'].str.split(',')
data = pd.DataFrame(temp.to_list())
data.head(3)

       0      1          2           3
0   MILK  BREAD    BISCUIT        None
1  BREAD   MILK    BISCUIT  CORNFLAKES
2  BREAD    TEA  BOURNVITA        None

In [8]:
_1 = min_product = 2
_2 = max_product = max([len(x) for x in temp])
_3 = min_support = 0.2

eclat = ECLAT(data, verbose=True)
# eclat.df_bin
a, b = eclat.fit(min_combination=_1, max_combination=_2, min_support=_3)
display(pd.Series(b))

100%|██████████████████████████████████████████| 12/12 [00:00<00:00, 916.02it/s]
100%|███████████████████████████████████████| 12/12 [00:00<00:00, 136031.48it/s]
100%|█████████████████████████████████████████| 12/12 [00:00<00:00, 3155.39it/s]

Combination 2 by 2

36it [00:00, 235.94it/s]

Combination 3 by 3

84it [00:00, 297.27it/s]

Combination 4 by 4

126it [00:00, 278.08it/s]

MILK & BREAD           0.2
COFFEE & CORNFLAKES    0.2
COFFEE & SUGER         0.2
BISCUIT & BREAD        0.2
MAGGI & TEA            0.2
BREAD & SUGER          0.2
BREAD & TEA            0.2
dtype: float64

<p style="background-image: linear-gradient(to right, #0D9276, #41b675)"> &nbsp;</p>

In [9]:
data = pd.read_csv('data/03_OnlineRetail.csv')
data.head(3)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom

In [10]:
print(data.isna().sum().sum())
data.dropna(inplace=True)
print(data.isna().sum().sum())

136534
0

In [11]:
print(data.shape)
data = data[~data['InvoiceNo'].str.contains('C')]
print(data.shape)

(406829, 8)
(397924, 8)

In [12]:
data_UK =data[data['Country']=='United Kingdom'][['InvoiceNo', 'Description', 'Quantity']]
data_UK.head(3)

  InvoiceNo                         Description  Quantity
0    536365  WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365                 WHITE METAL LANTERN         6
2    536365      CREAM CUPID HEARTS COAT HANGER         8

In [13]:
data_UK = data_UK.groupby(['InvoiceNo', 'Description']).sum()
data_UK = data_UK.unstack(fill_value=0)
data_UK.sample(3)

                                  Quantity                                 \
Description  4 PURPLE FLOCK DINNER CANDLES  50'S CHRISTMAS GIFT BAG LARGE
InvoiceNo
548686                                   0                              0
566713                                   0                              0
557469                                   0                              0

                                                             \
Description  DOLLY GIRL BEAKER  I LOVE LONDON MINI BACKPACK
InvoiceNo
548686                       0                            0
566713                       0                            0
557469                       0                            0

                                                                  \
Description  NINE DRAWER OFFICE TIDY  OVAL WALL MIRROR DIAMANTE
InvoiceNo
548686                             0                           0
566713                             0                           0
557469                             0                           1

                                                                       \
Description  RED SPOT GIFT BAG LARGE  SET 2 TEA TOWELS I LOVE LONDON
InvoiceNo
548686                             0                                0
566713                             0                                0
557469                             0                                0

                                                               ...  \
Description  SPACEBOY BABY GIFT SET  TOADSTOOL BEDSIDE LIGHT   ...
InvoiceNo                                                      ...
548686                            0                         0  ...
566713                            0                         0  ...
557469                            0                         0  ...

                                                                 \
Description ZINC STAR T-LIGHT HOLDER  ZINC SWEETHEART SOAP DISH
InvoiceNo
548686                              0                         0
566713                              0                         0
557469                              0                         0

                                                                             \
Description ZINC SWEETHEART WIRE LETTER RACK ZINC T-LIGHT HOLDER STAR LARGE
InvoiceNo
548686                                     0                              0
566713                                     0                              0
557469                                     0                              0

                                                                             \
Description ZINC T-LIGHT HOLDER STARS LARGE ZINC T-LIGHT HOLDER STARS SMALL
InvoiceNo
548686                                    0                               0
566713                                    0                               0
557469                                    0                               0

                                                                             \
Description ZINC TOP  2 DOOR WOODEN SHELF  ZINC WILLIE WINKIE  CANDLE STICK
InvoiceNo
548686                                   0                                0
566713                                   0                                0
557469                                   0                                0


Description ZINC WIRE KITCHEN ORGANISER ZINC WIRE SWEETHEART LETTER TRAY
InvoiceNo
548686                                0                                0
566713                                0                                0
557469                                0                                0

[3 rows x 3844 columns]

In [14]:
# data_UK = data_UK.map(lambda x: 0 if x==0 else 1) # DeprecationWarning
data_UK = data_UK.map(lambda x: False if x==0 else True)
data_UK.sample(3)

                                  Quantity                                 \
Description  4 PURPLE FLOCK DINNER CANDLES  50'S CHRISTMAS GIFT BAG LARGE
InvoiceNo
562841                               False                          False
578081                               False                          False
580133                               False                          False

                                                             \
Description  DOLLY GIRL BEAKER  I LOVE LONDON MINI BACKPACK
InvoiceNo
562841                   False                        False
578081                   False                        False
580133                   False                        False

                                                                  \
Description  NINE DRAWER OFFICE TIDY  OVAL WALL MIRROR DIAMANTE
InvoiceNo
562841                         False                       False
578081                         False                       False
580133                         False                       False

                                                                       \
Description  RED SPOT GIFT BAG LARGE  SET 2 TEA TOWELS I LOVE LONDON
InvoiceNo
562841                         False                            False
578081                         False                            False
580133                         False                            False

                                                               ...  \
Description  SPACEBOY BABY GIFT SET  TOADSTOOL BEDSIDE LIGHT   ...
InvoiceNo                                                      ...
562841                        False                     False  ...
578081                        False                     False  ...
580133                        False                     False  ...

                                                                 \
Description ZINC STAR T-LIGHT HOLDER  ZINC SWEETHEART SOAP DISH
InvoiceNo
562841                          False                     False
578081                          False                     False
580133                          False                     False

                                                                             \
Description ZINC SWEETHEART WIRE LETTER RACK ZINC T-LIGHT HOLDER STAR LARGE
InvoiceNo
562841                                 False                          False
578081                                 False                          False
580133                                 False                          False

                                                                             \
Description ZINC T-LIGHT HOLDER STARS LARGE ZINC T-LIGHT HOLDER STARS SMALL
InvoiceNo
562841                                False                           False
578081                                False                           False
580133                                False                           False

                                                                             \
Description ZINC TOP  2 DOOR WOODEN SHELF  ZINC WILLIE WINKIE  CANDLE STICK
InvoiceNo
562841                               False                            False
578081                               False                            False
580133                               False                            False


Description ZINC WIRE KITCHEN ORGANISER ZINC WIRE SWEETHEART LETTER TRAY
InvoiceNo
562841                            False                            False
578081                            False                            False
580133                            False                            False

[3 rows x 3844 columns]

In [15]:
df_1 = apriori(data_UK, min_support=0.02, use_colnames=True)

df_2 = association_rules(df_1, metric='confidence')
display(df_2)

df_3 = association_rules(df_1, metric='lift', min_threshold=1)
display(df_3)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,"((Quantity, PINK REGENCY TEACUP AND SAUCER))","((Quantity, GREEN REGENCY TEACUP AND SAUCER))",0.029611,0.036759,0.024266,0.819473,22.293137,0.023177,5.335706,0.984289
1,"((Quantity, GREEN REGENCY TEACUP AND SAUCER), ...","((Quantity, ROSES REGENCY TEACUP AND SAUCER ))",0.024266,0.040723,0.020482,0.844059,20.726763,0.019494,6.151553,0.975423
2,"((Quantity, ROSES REGENCY TEACUP AND SAUCER ),...","((Quantity, GREEN REGENCY TEACUP AND SAUCER))",0.023004,0.036759,0.020482,0.890339,24.221015,0.019636,8.783841,0.981287

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,"((Quantity, ALARM CLOCK BAKELIKE GREEN))","((Quantity, ALARM CLOCK BAKELIKE RED ))",0.041444,0.045528,0.027269,0.657971,14.451925,0.025382,2.790617,0.971049
1,"((Quantity, ALARM CLOCK BAKELIKE RED ))","((Quantity, ALARM CLOCK BAKELIKE GREEN))",0.045528,0.041444,0.027269,0.598945,14.451925,0.025382,2.390084,0.975204
2,"((Quantity, GARDENERS KNEELING PAD CUP OF TEA ))","((Quantity, GARDENERS KNEELING PAD KEEP CALM ))",0.037660,0.044567,0.027509,0.730463,16.390122,0.025831,3.544712,0.975734
3,"((Quantity, GARDENERS KNEELING PAD KEEP CALM ))","((Quantity, GARDENERS KNEELING PAD CUP OF TEA ))",0.044567,0.037660,0.027509,0.617251,16.390122,0.025831,2.514283,0.982788
4,"((Quantity, GREEN REGENCY TEACUP AND SAUCER))","((Quantity, PINK REGENCY TEACUP AND SAUCER))",0.036759,0.029611,0.024266,0.660131,22.293137,0.023177,2.855182,0.991593
...,...,...,...,...,...,...,...,...,...,...
71,"((Quantity, GREEN REGENCY TEACUP AND SAUCER), ...","((Quantity, ROSES REGENCY TEACUP AND SAUCER ))",0.024266,0.040723,0.020482,0.844059,20.726763,0.019494,6.151553,0.975423
72,"((Quantity, ROSES REGENCY TEACUP AND SAUCER ),...","((Quantity, GREEN REGENCY TEACUP AND SAUCER))",0.023004,0.036759,0.020482,0.890339,24.221015,0.019636,8.783841,0.981287
73,"((Quantity, GREEN REGENCY TEACUP AND SAUCER))","((Quantity, ROSES REGENCY TEACUP AND SAUCER ),...",0.036759,0.023004,0.020482,0.557190,24.221015,0.019636,2.206352,0.995300
74,"((Quantity, ROSES REGENCY TEACUP AND SAUCER ))","((Quantity, GREEN REGENCY TEACUP AND SAUCER), ...",0.040723,0.024266,0.020482,0.502950,20.726763,0.019494,1.963050,0.992157
75,"((Quantity, PINK REGENCY TEACUP AND SAUCER))","((Quantity, GREEN REGENCY TEACUP AND SAUCER), ...",0.029611,0.028590,0.020482,0.691684,24.192941,0.019635,3.150691,0.987919